@font-face {
    font-family: 'Centra No2 TRIAL';
    src: url('CentraNo2TRIAL-Bold.woff2') format('woff2'),
        url('CentraNo2TRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

